body {
    background-color: #f2f2f2;
    font-family: Roboto, Arial, sans-serif;
    color: #666;
    margin: 0;
}

.todo-app__header h1 {
    text-align: center;
    color: #ccc;
    font-weight: 100;
    font-size: 100px;
    text-transform: lowercase;
    line-height: 1;
    margin: 0;
}

.todo_app {
    position: relative;
    width: 80%;
    max-width: 560px;
    min-width: 460px;
    margin: 0 auto 20px;
}

.todo-app__frame {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    position: relative;
    z-index: 1;

}

.todo-app__frame:before {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    content: "";
    position: absolute;
    top: 100%;
    left: 2px;
    right: 2px;
    height: 5px;
    z-index: -1;
}

.todo-app__frame:after {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    content: "";
    position: absolute;
    top: 100%;
    left: 4px;
    right: 4px;
    height: 10px;
    z-index: -2;
}

.todo-app__main-controls {
    height: 66px;
    display: flex;
    align-items: center;
}

.roll_btn {
    height: 64px;
    width: 58px;
    background-image: url(../images/Roll.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    cursor: pointer;
}

.todo-app__main-controls input {
    width: 100%;
    height: 64px;
    padding-top: 4px;
    box-sizing: border-box;
    font-size: 24px;
}

input[type=text] {
    border: 0;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    font-family: Roboto, Arial, sans-serif;
}

.new_task::placeholder {
    color: #cccccc;
    font-style: italic;
    font-size: 24px;
}

.todo-app__tasks{
    max-height: 300px;
    border-top: 1px solid #eeeeee;
    overflow-y: scroll;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
    min-height: 296px;
}

li {
    height: 59px;
    display: inline;
    align-items: center;
}

.task {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-height: 59px;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
}

.task_status {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
}

.task input[type=checkbox] {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    margin: 0 12px 0 12px;
    border: 1px solid #e6e6e6;
    appearance: none;
    border-radius: 50%;
}

.task input[type=checkbox]:checked {
    background-image: url(../images/Done.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    border: 1px solid #60c2b1;
}

.task input[type=checkbox]:focus {
    visibility: visible;
}

.task_text {
    display: flex;
    flex-grow: 1;
    min-width: 0;
    padding: 12px 0;
    word-break: break-word;
    font-size: 24px;
}

.delete_btn {
    width: 40px;
    height: 40px;
    background-image: url(../images/Delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: transparent;
    border: none;
    margin-right: 15px;
    margin-left: auto;
    opacity: 0;
    flex-shrink: 0;
}

.task:hover {
    background-color: #fafafa;
}

.delete_btn:focus {
    opacity: 1;
}

.task:hover .delete_btn {
    opacity: 1;
}

.todo-app__actions-bar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e6;
    height: 33px;
    padding: 3px 12px;
    font-size: 14px;
    color: #888;
}

.clear_completed {
    border: none;
    background-color: transparent;
    font-family: Arial;
    font-weight: 300;
    line-height: 21px;
    font-size: 14px;
    padding: 8px 0;
    color: #888;
}

.task-filter_text {
    border: 1px solid transparent;
    font-weight: 300;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 0px 6px;
}

.task-filter_input {
    width: 65px;
    margin-right: -80px;
    opacity: 0.01;
    cursor: pointer;
}


.task-filter_input:checked + .task-filter_text {
    border-color: #ebdfdf;
}

.task-filter_input:focus + .task-filter_text {
    border-color: #cccccc;
}
